header {
    height: 80px;
    width: 80%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 10px 10px;
}

header .reactLogo {
    width: 110px;
}
header img:hover {
    filter: invert(86%) sepia(81%) saturate(4160%) hue-rotate(165deg) brightness(93%) contrast(106%);
    transition: 0.5s;
}

header .socialWrap img {
    width: 37px;
    margin-right: 22px;
}

header .socialWrap img:hover {
    filter: invert(86%) sepia(81%) saturate(4160%) hue-rotate(165deg) brightness(93%) contrast(106%);
    transition: 0.5s;
}

@media screen and (max-width: 768px){
    header {
        width: 100%;
    }
    header .reactLogo {
        display: none;
    }
    header .dropdown-center {
        margin-left: 25px;
    }

}