header {
    height: 80px;
    width: 80%;
    max-width: 1440px;

    background-color: #00000066;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--border-color);
    border-top: none;
    border-radius: 0 0 10px 10px;
}
@keyframes roda-roda {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}

    0%   { filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(221deg) brightness(98%) contrast(104%);}
    50%  { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(62deg) brightness(104%) contrast(105%);}
    100%   { filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(221deg) brightness(98%) contrast(104%);}
}

@keyframes coloring {
    0%   { filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(221deg) brightness(98%) contrast(104%);}
    50%  { filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(62deg) brightness(104%) contrast(105%);}
    100%   { filter: invert(0%) sepia(3%) saturate(0%) hue-rotate(221deg) brightness(98%) contrast(104%);}
}
header .reactLogo {
    width: 110px;
    animation: roda-roda 2s linear infinite;
}

header .socialWrap img {
    width: 37px;
    margin-right: 22px;
    animation: coloring 2s linear infinite;
}

@media screen and (max-width: 768px){
    header {
        width: 100%;
    }

    header .dropdown-center {
        margin-left: 25px;
    }
}


@media screen and (max-width: 425px){
    header .socialWrap img {
        width: 32px;
        margin-right: 20px;
    }
    header .reactLogo {
        display: none;
    }
}